.homestead-type-container {
    margin-top: 120px;
    margin-bottom: 72px;

    .name-homestead {
        font-family: $title;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        text-transform: uppercase;
        color: #393939;
        margin-bottom: 24px;
    }

    .desc {
        font-family: $subtitle;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        text-transform: capitalize;
        color: #C4C4C4;

        span {
            margin-left: 8px;
        }
    }

    .btn-outline-homestead {
        border: $primary-color solid 1px;
        color: $primary-color !important;

        &:hover {
            background: $primary-color;
            color: white !important;
        }
    }
}